// body {
//   background-color: $canvas-light;
// }

.site-main {
  min-height: calc(100vh - 450px);
  overflow: hidden; // essential to avoid horizontal scrollbar when a child element is 100vw but the browser doesn't account for the vertical scrollbar width
}

.hidden {
  display: none;
}

/*********************************************************
## Rows
*********************************************************/
.row {
  @include center-block;
  max-width: $layout-width;
}

.row--pad {
  padding: $spacing $spacing/2;

  @include mq($bp-s) {
    padding: $spacing;
  }

  @include mq($bp-columns) {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  @include mq($bp-xl) {
    padding-left: $spacing * 2;
    padding-right: $spacing * 2;
  }

  & ~ .row--pad {
    padding-top: 0;
  }
}

.row--pad-columns {
  // reduced side padding for any row which contains a .column-container
  padding-left: $spacing/2;
  padding-right: $spacing/2;

  // reduce y padding also
  padding-top: $spacing/2;
  padding-bottom: $spacing/2;
  @include mq($bp-columns) {
    padding-top: $spacing;
    padding-bottom: $spacing;
  }
}

// row padding
.row--no-top-pad {
  padding-top: 0;
}
.row--no-bottom-pad {
  padding-bottom: 0;
}
.row--limit-top-pad {
  padding-top: $spacing/2;
}
.row--limit-bottom-pad {
  padding-bottom: $spacing/2;
}
// .row--limit-y-pad {
//   padding-top: $spacing;
//   padding-bottom: $spacing;
// }

// alternative row widths
.row--bp-m {
  max-width: $bp-m;
}

/*********************************************************
## Clearings
*********************************************************/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  @extend %cf;
}

/*********************************************************
## Alignments
*********************************************************/
/* this is mostly for stuff the user puts in the WYSIWYG editor on back end -
these classes are added to the content when they choose its alignment:
*/
.alignleft {
  display: block;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: block;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  @include center-block;
}

// break element out of parent container
// beware - these styles will need to be overridden on pages with sidebars!
.alignwide,
.alignfull {
  margin: $spacing calc(50% - 50vw);
  max-width: 100vw;
  width: 100vw;
}
// stop alignwide breaking beyond container at a certain point and start respecting normal content width
@include mq($bp-xxl) {
  .alignwide {
    margin: $spacing 0;
    width: 100%;
  }
}
