/*********************************************************
## Portfolio post summary card used by:
   archive-portfolio.php
   taxonomy.php
   block-link-card.php
*********************************************************/
.portfolio-summary {
  position: relative;

  a {
    display: block;
  }

  .portfolio-summary__image {
    max-width: 100%;
  }
  img {
    display: block;
    margin: 0;
  }

  .portfolio-summary__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: $spacing/2;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 38%,
      rgba(0, 0, 0, 0.6) 92%
    );
    display: flex;
    align-items: flex-end;

    // display overlay only on hover above touchscreen size
    // @include mq($bp-xl) {
    //   opacity: 0;
    //   transition: opacity 0.3s;

    //   &:hover,
    //   &:focus {
    //     opacity: 1;
    //   }
    // }

    h2 {
      margin: 0;
      color: $white;
      font-size: em(26);

      span {
        padding-left: 0.75em;
        font-size: em(14);
      }
    }
  }
}
