.block-project-meta {
  .meta-data {
    margin-bottom: $spacing/2;

    p {
      margin-bottom: 0;
    }

    .meta-data__title {
      // color: $grey-darkest;
      font-weight: 700;
    }

    .meta-data__categories a {
      display: inline-block;
    }

    .meta-data__categories a:not(:last-of-type) {
      &::after {
        content: "|";
        padding-right: 0.25em;
        padding-left: 0.5em;
      }
    }
  }
}
